<!DOCTYPE html>

<head>
    <title>О нас</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="keywords" content="Молярная масса">
    <meta name="description" content="калькулятор молярной массы">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <a href="index.html" class="header__logo">
                <img src="images/catslab-logo.svg" alt="CatsLab logo"> CatsLab
            </a>

            <input type="checkbox" name="menu" id="menu" class="header__toggle">
            <label for="menu" class="header__input"><img src="images/navigation-icon.svg" alt="navigation-icon"></label>

            <nav class="header__nav">
                <a href="balance.html" class="header__link">Балансировка</a>
                <a href="molar.html" class="header__link">Молярная масса</a>
                <a href="index.html" class="header__link">О нас</a>
            </nav>
        </header>

        <main class="molar-mass">
            <div class="molar-mass__form-section">
                <p class="molar-mass__title">Молярная масса</p>
                <form class="molar-mass__form" action="{{form_action}}" method="post">
                    <input type="text" class="molar-mass__input" name="input" id="input" placeholder="H2O" />
                    <button type="submit" class="molar-mass__submit-button">></button>
                </form>
            </div>

            <div class="molar-mass__result-section">
                <div class="molar-mass__total-mass">
                    <p class="molar-mass__total-title">Общая молярная масса</p>
                    <p class="molar-mass__total-value">{{total_molar_mass}}</p>
                </div>

                <ul class="molar-mass__element-list">
                    {{#each elements}}
                    <li class="molar-mass__element">
                        <span class="molar-mass__element-symbol">{{symbol}}</span>
                        <ul class="molar-mass__element-details">
                            {{#each details}}
                            <li class="molar-mass__element-detail">{{this}}</li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </main>


        <footer class=" footer">
            <img src="images/catslab-logo.svg" alt="CatsLab logo" class="footer__logo">
            <div class="footer__social">
                <a href="https://github.com/MaxFuls/CGProject" class="footer__link">
                    <img src="images/github-logo.svg" alt="GitHub logo" class="footer__icon">
                </a>
                <a href="https://t.me/catslabdev" class="footer__link">
                    <img src="images/telegram-logo.svg" alt="Telegram logo" class="footer__icon">
                </a>
            </div>
        </footer>
    </div>
</body>